apiVersion: v1
kind: Service
metadata:
  name: {{ include "hello-distr.fullname" . }}-backend
  labels:
    {{- include "hello-distr.component.labels" (dict "component" "backend" "context" .) | nindent 4 }}
spec:
  type: {{ .Values.backend.service.type }}
  ports:
    - port: {{ .Values.backend.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "hello-distr.component.selectorLabels" (dict "component" "backend" "context" .) | nindent 4 }}
