apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "hello-distr.fullname" . }}-proxy
  labels:
    {{- include "hello-distr.component.labels" (dict "component" "proxy" "context" .) | nindent 4 }}
data:
  Caddyfile: |
    {$HOST} {
      log stderr
      handle_path /api/* {
        reverse_proxy {{ include "hello-distr.fullname" . }}-backend:{{ .Values.backend.service.port }}
      }
      reverse_proxy {{ include "hello-distr.fullname" . }}-frontend:{{ .Values.frontend.service.port }}
    }

    :8080 {
      respond /healthz 200
    }
